
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  background: transparent;
  z-index: 1001;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.navbar a {
  color: #7e7d7d;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--accent-font);
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.052);
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--white);
}


.menu-toggle {
  display: none;
}

.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--white);
  position: absolute;
  top: 18px;
  right: 24px;
  z-index: 1100;
}


@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1002;
  }

  .menu-toggle:checked + .burger + .nav-links {
    display: flex;
  }

  .navbar {
    justify-content: flex-end;
    padding-right: 60px; 
  }
  .navbar a {
    color: var(--white);
  }
}
